@media (max-width: 768px) {
	/* dropdown menu */

	[aria-controls="navbarDropdown"] {
		display: block;
	}

	[aria-expanded="false"]~ul {
		display: none;
	}

	[aria-expanded="true"]~ul {
		display: flex;
		position: absolute;
		flex-direction: column;
		left: -55px;
		top: var(--s100);
	}

	.navbar-toggler {
		background-color: var(--green);
		border: 0px solid;
		position: fixed;
		border-radius: var(--s5);
		right: var(--s50);
		z-index: 10;

	}

	.navbar-toggler:active {
		transform: scale(0.9);
	}

	.navbar-toggler span {
		cursor: pointer;
		pointer-events: none;
		font-size: var(--s25);
	}

}

@media screen and (min-width: 780px) {
	.navbar-toggler {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	/* index */

	/* nav */
	.navbar-toggler {
		top: 10%;
	}

	header .logo-wrap {
		left: 0;
		top: var(--s30);
	}

	#top header h1 {
		position: relative;
    left: -15vw;
    width: 70vw;
	}

	/* hero section */
	section.hero {
		margin-top: var(--s150);
		padding: 0 var(--s20);
	}

	section .intro-words {
		text-align: center;
		margin: auto;
	}

	/* Problem/Solution block */
	section.about-block {
		height: auto;
		margin-top: var(--s50);
	}

	section .about-block-wrapper {
		flex-direction: column;
		padding: var(--s25) 0;
		gap: var(--s25);
		height: auto;
	}

	section .about-card {
		width: 90%;
	}

	/* Pricing */
	section .price-card-wrap {
		flex-direction: column;
		align-items: center;
		gap: var(--s70);
	}

	/* Animated Section */
	section.animation-section {
		height: 750px;
		text-align: center;
	}

	section .square-container {
		top: 25%;
		left: 50%;
	}

	div.square-btn {
		left: 50%;
    transform: translateX(-50%);
    width: 70%;
	}

	section .square-text {
		top: 55%;
		right: 0;
	}

	/* footer */
	body footer {
		margin: 0;
		height: 80vh;
	}

	footer .foot-wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	footer .foot-left {
		margin: 0 0 var(--s70) 0;
	}

	footer .foot-mid img {
		width: 200px;
	}

	footer .foot-nav {
		display: flex;
		gap: var(--s10);
	}

	footer .foot-links {
		margin: 0 var(--s40);
	}

	/* About Page */

	section.intro{
	flex-direction: column;
	}

	section.past {
		flex-direction: column-reverse;
	}

	section.intro img {
		width: 100%;
    margin-top: var(--s50);
		height: initial;
	}

	section.past img {
		width: 100%;
    margin-top: var(--s30);
	}

	section.about-price span {
		position: static;
	}

	div.about-card-wrap {
		flex-direction: column;
	}

	div.about-card-wrap a {
		width: 100%;
	}

	section.threeD-slider {
		margin-bottom: 35%;
	}






	/* contact */

	div.contact-wrap {
		display: flex;
		flex-direction: column-reverse;
		margin: 0 var(--s25);
		gap: var(--s25);
		margin-top: 20vh;
	}

	.contact-wrap .img-wrap {
		background-color: transparent;
	}

	.contact-wrap .img-wrap img {
		border-radius: var(--s10);
	}

	div.img-wrap p {
		bottom: -28%;
		width: 80%;
	}

	.contact-wrap .img-wrap,
	.contact-wrap .form {
		margin: 0;
		border-radius: var(--s10);
	}

	section.form {
		width: 100%;
		position: static;
		transform: translateX(0);
	}
}

@media screen and (min-width:480px) and (max-width: 1024px) {

	/* index */
	section .about-card {
		padding: var(--s50) var(--s12);
	}

	section .from-left {
		line-height: initial;
	}

	section .from-left ul li {
		padding: var(--s18);
	}

	section .price-contain {
		padding: var(--s50) 0;
	}

	section .price-card-wrap {
		gap: var(--s18);
	}

	section .square-text {
		font-size: var(--s20);
	}

	body footer {
		margin: var(--s150) var(--s40) 0 var(--s40);
		padding: var(--s12);
	}

	div.foot-left {
		position: relative;
		top: 30%;
		left: 2%;
		height: var(--s70);
	}

	ul.foot-links {
		flex-direction: column;
		gap: var(--s10);
		margin-top: 460px;
	}

	div.foot-mid img {
		width: 50vw;
	}

	/* about */

	div.about-card-wrap {
		flex-direction: column;
	}

	div.about-card-wrap a {
		width: 100%;
	}

	/* Contact */

	div.img-wrap img {
		height: 1000px;
	}

	div.img-wrap p {
		bottom: -20%;
	}

}